.product{
    display:flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom:10px;
}
.product-img{
    margin-right: 15px;
}
.product-details h4{
    color: #1624e6;
    text-align: left;
    text-decoration: none;
}
.product-details h4 a{
    
    text-decoration: none;
}
.main-button{
    width: 300px;
    height: 40px;
    background-color: yellow;
    border: 1px solid goldenrod;
    border-radius:5px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}
.cartIcon{
    margin-right: 8px;
}